@import "~@/style/mixin.scss";

.home-container{
    height: 100vh;
    background-color: #eee;
    padding-top: 88px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    padding: 88px;
    .test{
        border: 0.5px solid red;
        margin-bottom: 80px;
        display: flex;
        align-items: center;
    }
    .box{
        border: 0;
        border: 1px solid;
        border-radius: 20px;
        // border-image: svg(border3 param(--color red)) 2 2 stretch;
        border-image: svg(border3 param(--color red)) 1 stretch;
    }
}